body{
  display: flex;
  flex-direction: column;
}

.header, .title-area{
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 250px 30px 250px;
}

.header{
  font-size: 24px;
  color: #F9FaF8;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

a{
  text-decoration: none;
  color: #F9FaF8;
  font-size: 22px;
}

.title-area{
  flex-wrap: wrap;
}

.div-left{
  min-width: 400px;
  flex: 0 1 500px;
}

.div-left > h1{
  font-size: 48px;
  font-weight: 900;
  color: #F9FaF8;
  padding: 0;
  margin: 0;
}

.div-left > p{
  font-size: 18px;
  color: #E5E7EB;
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
}

.title-area > img{
  width: 500px;
  height: 250px;
  flex-shrink: 0;
}

button{
  background-color: #3882f6;
  padding: 8px;
  border-radius: 4px;
  border: none;
  color: white;
  font-weight: 700;
}



.product-info{
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.product-info h2{
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.info-cards{
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap:wrap;
}

.info{
  display: flex;
  flex-direction: column;
  flex: 0 0 100px;
  text-align: center;
}

.info p{
  margin: 4px 0;
}

.product-info img{
  width: 120px;
  height: 120px;
  border: 2px solid #3882f6;
  border-radius: 8px;
}

.testimonaial{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  padding: 150px 20%;
}

.testimonaial-quote{
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  color: #1f2937;
  padding: 0;
  margin: 0;
}

.testimonaial-attribution{
  font-weight: bold;
  font-size: 28px;
  align-self: flex-end;
  padding-right: 40px;
  margin: 0;
}